<!DOCTYPE html>
<html>
<head>
  <title>Game</title>

  <style>
    html, body {
      overflow: hidden;
      height: 100%;
      margin: 0;
    }

    body {
      background: black;
    }

    .center-content {
      display: -ms-flexbox;
      -ms-flex-pack: center;
      -ms-flex-align: center;
      display: -moz-box;
      -moz-box-pack: center;
      -moz-box-align: center;
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      display: box;
      box-pack: center;
      box-align: center;
    }

    .hidden {
      display: none;
    }
  </style>

  <script>
    function scaleDisplay() {
      var canvas = document.getElementsByTagName('canvas')[0],

          width_scale = window.innerWidth / canvas.width,
          height_scale = window.innerHeight / canvas.height,

          scale = Math.min(width_scale, height_scale)

          width = canvas.width * scale,
          height = canvas.height * scale,

          sizeStyle = "width:"+width+"px; height:"+height+"px";

      canvas.setAttribute('style', sizeStyle);
    }
  </script>
</head>
<body class="center-content" onresize="scaleDisplay()">
  <canvas></canvas>

  <div class="hidden">
    <%= asset_include_tags %>
  </div>

  <%= script_include_tag 'yeah/web/dependencies' %>
  <%= script_include_tag 'yeah/web' %>
  <%= script_include_tag 'yeah/web/setup' %>

  <%= script_include_tag 'game' %>

  <%= script_include_tag 'yeah/web/start' %>

  <script>scaleDisplay()</script>
</body>
</html>
