<!DOCTYPE html>
<html>
<head>
  <title>Game</title>

  <style>
    html, body {
      overflow: hidden;
      height: 100%;
      margin: 0;
    }

    body {
      background: black;
    }

    canvas {
      image-rendering: optimizeSpeed;
      image-rendering: -moz-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: optimize-contrast;
      -ms-interpolation-mode: nearest-neighbor;
    }

    .center-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hidden {
      display: none;
    }
  </style>

  <script>
    function scaleDisplay() {
      var canvas = document.getElementsByTagName('canvas')[0],
          widthScale = window.innerWidth / canvas.width,
          heightScale = window.innerHeight / canvas.height;
      window.displayScale = Math.min(widthScale, heightScale);

      if (PRESERVE_PIXELS && displayScale >= 1) {
        displayScale = Math.floor(displayScale);
      }

      var width = canvas.width * displayScale,
          height = canvas.height * displayScale,
          sizeStyle = "width:"+width+"px; height:"+height+"px";

      canvas.setAttribute('style', sizeStyle);
    }

    document.addEventListener('keydown', function(event) {
      event.preventDefault();
    });
  </script>
</head>
<body class="center-content" onresize="scaleDisplay()">
  <canvas></canvas>

  <div class="hidden">
    <%= asset_include_tags %>
  </div>

  <%= script_include_tag 'yeah/web/dependencies' %>
  <%= script_include_tag 'yeah/web' %>
  <%= script_include_tag 'yeah/web/setup' %>

  <%= script_include_tag 'config' %>
  <%= script_include_tag 'game' %>

  <%= script_include_tag 'yeah/web/start' %>

  <script>scaleDisplay()</script>
</body>
</html>
