<!DOCTYPE html>
<html>
<head>
  <title></title>

  <style>
    html, body {
      overflow: hidden;
      height: 100%;
      margin: 0;
    }

    body {
      background: black;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    canvas {
      image-rendering: optimizeSpeed;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: optimize-contrast;
      image-rendering: crisp-edges;
      image-rendering: pixelated;
      -ms-interpolation-mode: nearest-neighbor;
    }

    .center-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hidden {
      display: none;
    }
  </style>

  <script>
    function scaleDisplay() {
      DISPLAY.$send('scale_to_window');
    }

    document.addEventListener('keydown', function(event) {
      event.preventDefault();
    });
  </script>
</head>
<body class="center-content" onresize="scaleDisplay()" oncontextmenu="return false">
  <canvas></canvas>

  <div class="hidden">
    <%= asset_include_tags %>
  </div>

  <%= script_include_tag 'yeah/web/dependencies' %>
  <%= script_include_tag 'yeah/web' %>
  <%= script_include_tag 'yeah/web/setup' %>

  <%= script_include_tag 'config' %>
  <%= script_include_tag 'game' %>

  <%= script_include_tag 'yeah/web/start' %>

  <script>scaleDisplay()</script>
</body>
</html>
